.main {
  height: 300px;
  text-align: center;
  /* background-image: url("../image/background.jpg"); */
}

.main__tittle {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  margin: 0px 0px 20px 0px;
}

.input {
  /* buscador*/
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  padding: 0px 10px;
  width: 70%;
  outline: none;
}
::placeholder {
  color: white;
}
