.main {
  height: 300px;
  text-align: center;
  /* background-image: url("../image/background.jpg"); */
}

.main__tittle {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  margin: 0px 0px 20px 0px;
}
